$font: "Outfit", sans-serif;

$display1: 80px;
$display2: 48px;
$heading1: 40px;
$heading2: 32px;
$heading3: 24px;
$heading4: 20px;
$paragraph1: 18px;
$paragraph2: 16px;
$paragraph3: 14px;

$displayMob1: 56px;
$displayMob2: 32px;
$headingMob1: 32px;
$headingMob2: 22px;
$headingMob3: 18px;
$paragraphMob1: 16px;
$paragraphMob2: 12px;
$paragraphMob3: 8px;
