
* {
	margin: 0;
	padding: 0;
	body {
		h1 {
			font-size: clamp(2.5rem, 4vw, 4rem);
			font-weight: 500;
		}
		h2 {
			font-size: clamp(1.5rem, 2.5vw, 4rem);
		}
		h3 {
			font-size: clamp(1.2rem, 1.8vw, 3rem);
		}
		p {
			font-size: clamp(1.1rem, 1.2vw, 2rem);
		}
	}
	.mantine-umcef0{
		background-color: unset !important;
	  }
	  .mantine-9kralg{
		color:black !important;
	  }
}

